a {
  text-decoration: none;
  cursor: pointer;
}

.next-section {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  right: 5%;
  font-size: 15rem;
  height: 15rem;
  width: 15rem;

  border: 2px dashed $color-white;
  border-radius: 50%;

  z-index: 1000;
}
