.next-section {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  right: 5%;
  font-size: 10rem;
  height: 10rem;
  height: 10rem;

  border: 2px dashed white;
  border-radius: 50%;

  z-index: 1000;

  cursor: pointer;
}
